<!doctype html>
<html>
	<head>
	<title>Games</title>
	<link rel="stylesheet" href="../css/style.css">
	</head>

	<body> 
	<div class="main-content" id="gameArea">
		<canvas id="gameCanvas" width="800" height="480"></canvas>
		<div class="instructions">
		<h2> Press 'R' to shoot red color balls , 'B' for Blue Balls and 'G' for green.</h2>

		<p> For every correct colored can dropping at bottom you get a 10 point.</p>
		<p> For every wrong colored can dropping at bottom you lose a life</p>

		<p>GL HF. </p>
		</div>
	</div>

	<script src="../js/script.js">
	</script>
	</body>
</html>

