html,
body {
    font-size: 14px;
}

.main-content , .instructions{
	padding-top:10px !important;
}

#gameCanvas {
    display: block;
    background-color: #7294A9;
}

.high-score-content{
    min-height:480px;
}


.signin .login-content, .high-score-content , .key-content {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 35px 55px 35px;
    overflow: visible;
}

#score-container .collection .collection-item .username{
	    width: 60%;
    display: inline-block;
}

#score-container .collection .collection-item .score{
	    width: 35%;
   		display: inline-block;
   		text-align:right;
}

nav .brand-logo{
padding-left:15px;

}

.cursor{
	cursor:pointer;
}

.red-ball-edit, .green-ball-edit , .blue-ball-edit{
	display:none;
}

.action-btns{

    padding-left:15px;
}

#pause-btn{
    display:none;
}