<!doctype html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="./lib/materialize/dist/css/materialize.min.css" media="screen,projection">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav>
        <div class="nav-wrapper teal lighten-2">
            <a href="/" class="brand-logo">@mbush</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a id="instruction" class="waves-effect waves-light modal-trigger" href="#instructionModal">Instructions </a></li>
                {% if username %}
                <li><a class="waves-effect waves-light">Hi {{username}}</a></li>
                <li><a class="waves-effect waves-light" href="/signout">Signout</a></li>
                {% else %}
                <li><a class="waves-effect waves-light" href="/signup">Signup</a></li>
                <li><a class="waves-effect waves-light" href="/signin">Signin</a></li>
                {% endif %}
            </ul>
            <ul id="mobile-demo" class="side-nav">
                <li><a id="instruction1" class="waves-effect waves-light modal-trigger" href="#instructionModal">Instructions </a></li>
                {% if username %}
               <li><a class="waves-effect waves-light">Hi {{username}}</a></li>
                <li><a class="waves-effect waves-light" href="/signout">Signout</a></li>
                {% else %}
                <li><a class="waves-effect waves-light" href="/signup">Signup</a></li>
                <li><a class="waves-effect waves-light" href="/signin">Signin</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div>
        <div class="row">
            <div class="main-content col m8" id="gameArea">
                <canvas id="gameCanvas" width="800" height="480"></canvas>
                <div class="action-btns">
                     <button class="btn waves-effect green" id="start-btn" disabled="disabled">Start</button>
                     <button class="btn waves-effect green" id="pause-btn">Pause</button>
                     <button class="btn waves-effect red" id="red-select-btn">Red</button>
                     <button class="btn waves-effect green" id="green-select-btn">Green</button>
                     <button class="btn waves-effect blue" id="blue-select-btn">Blue</button>
                        
                </div>
                <div id="instructionModal" class="modal">
                    <div class="modal-content">
                        <h4>Instructions</h4>
                        <p>Press 'R' to shoot red color balls , 'B' for Blue Balls and 'G' for green.</p>
                        <p> For every correct colored can dropping at bottom you get a 10 point.</p>
                        <p> For every wrong colored can dropping at bottom you lose a life</p>
                        <p>GL HF. </p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn">Ok</a>
                    </div>
                </div>
            </div>
            <div class="instructions col m4">
                <!-- <h1> High Scores </h1> {% for score in scores%}
                <div class="score">
                    <span> {{score.username}} : {{score.score}}</span>
                </div>
                {% endfor %} -->
                <div class="card high-score-content row hoverable">
                    <!-- <span class="card-title grey-text text-darken-2" style="display:block;margin-bottom:15px;">
				High Scores</span> -->
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs">
                                <li class="tab col s3"><a class="active" href="#score-container">High Scores</a></li>
                                <li class="tab col s3"><a href="#my-score-container">My Scores</a></li>
                            </ul>
                        </div>
                        <div id="score-container">
                            <ul class="collection">
                                {% for score in scores%}
                                <!--  <div class="score">
                            <span> {{score.username}} : {{score.score}}</span>
                        </div> -->
                                <li class="collection-item avatar">
                                    <i class="circle blue lighten-3" style="font-style:normal">{{score.username | first | upper}}</i>
                                    <span class="title username">{{ score.username | upper }} : </span> <span class="title score">{{score.score}} </span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div id="my-score-container" class="col s12">
                        	 <ul class="collection">
                        	 	 <li class="collection-item avatar">
                                    <i class="circle blue lighten-3" style="font-style:normal">NA</i>
                                    <span class="title username">Not Implemented Yet!!!</span>
                                </li>
                        	 </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row action-btns">
           
        </div>
    </div>
    <div class="row">
        <div class="key-bindings col m4 offset-m8">
            <div class="card key-content row">
                <span class="card-title grey-text text-darken-2" style="display:block;margin-bottom:15px;">
				Keys Configuration</span>
                <div class="content">
                    <ul class="collection">
                        <li class="collection-item red-ball-container">
                            <div>
                                Red Ball : <span class="red-value">R</span>
                                <span class="secondary-content"><i class="material-icons cursor" id ="red-ball">input</i></span>
                            </div>
                        </li>
                        <li class="collection-item red-ball-edit">
                            <div>
                                Red Ball :
                                <input type="text" maxlength="1" id="red-ball-text" />
                            </div>
                        </li>
                        <li class="collection-item green-ball-container">
                            <div>
                                Green Ball : <span class="green-value">G</span>
                                <span class="secondary-content"><i class="material-icons cursor" id ="green-ball">input</i></span>
                            </div>
                        </li>
                        <li class="collection-item green-ball-edit">
                            <div>
                                Green Ball :
                                <input type="text" maxlength="1" id="green-ball-text" />
                            </div>
                        </li>
                        <li class="collection-item blue-ball-container">
                            <div>
                                Blue Ball :<span class="blue-value">B</span>
                                <span class="secondary-content"><i class="material-icons cursor" id ="blue-ball">input</i></span>
                            </div>
                        </li>
                        <li class="collection-item blue-ball-edit">
                            <div>
                                Blue Ball :
                                <input type="text" maxlength="1" id="blue-ball-text" />
                            </div>
                        </li>
                        <li class="collection-item">
                            <button class="btn waves-effect waves-light" id="key-btn-submit">Submit
                                <i class="material-icons">thumb_up</i>
                            </button>
                            <button class="btn waves-effect waves-light" id="key-btn-reset">Reset
                                <i class="material-icons">thumb_down</i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="./lib/jquery/dist/jquery.min.js"></script>
    <script src="./lib/materialize/dist/js/materialize.min.js"></script>
    <script src="./js/script.js">
    </script>
    <script>
    $(document).ready(function(){
        $(".button-collapse").sideNav();
    });
    $('#instruction').on('click', function() {
        Game.pause();
        $("#start-btn").show();
        $("#pause-btn").hide();
       $('#instructionModal').openModal({
            /*complete: function() {
                Game.restart();
            }*/
        });
    
    });
    $('#instruction1').on('click', function() {
        Game.pause();
         $("#start-btn").show();
         $("#pause-btn").hide();
        $('#instructionModal').openModal({
           /* complete: function() {
                Game.restart();
            }*/
        });

    });
    </script>
</body>

</html>
